<div class="row">
    <div class="col-md-4">
        <div class="box box-solid box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Search IPv6</h3>
            </div>
            <div class="box-body">
                <div class="input-group">
                    <ng2-completer [(ngModel)]="searchIp" [datasource]="dataService" [minSearchLength]="0" class="completer-input" placeholder="input ip of border router"></ng2-completer>
                    <div class="input-group-btn">
                        <button [disabled]="!searchIp" (click)="searchIP()" type="button" class="btn btn-primary btn-flat">Search</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="box box-solid box-info" *ngIf="sensorIps.length > 0">
            <div class="box-header with-border">
                <h3 class="box-title">Result IP</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="external-event bg-green" *ngFor="let ip of sensorIps" (click)="selectIp(ip)">{{ip}}</div>
            </div>
            <div class="overlay" *ngIf="searchProcess">
                <i class="fa fa-refresh fa-spin"></i>
            </div>
        </div>
    </div>
    <div class="col-md-8" *ngIf="sensorIp != null">
        <div class="col-md-7">
            <div class="box box-info box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">LEDs control</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="info-box bg-red">
                        <span class="info-box-icon"><i class="fa fa-lightbulb-o"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">RED</span>
                            <span class="info-box-number">IP: {{sensorIp}}</span>
                            <switch class="pull-right" [status]="redStatus" [onText]="'ON'" [offText]="'OFF'" [onColor]="'yellow'" [offColor]="'gray'" [size]="'small'" (statusChange)="toggleRedLed()"></switch>
                        </div>
                    </div>
                    <div class="info-box bg-green">
                        <span class="info-box-icon"><i class="fa fa-lightbulb-o"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">GREEN</span>
                            <span class="info-box-number">IP: {{sensorIp}}</span>
                            <switch class="pull-right" [status]="greenStatus" [onText]="'ON'" [offText]="'OFF'" [onColor]="'yellow'" [offColor]="'gray'" [size]="'small'" (statusChange)="toggleGreenLed()"></switch>
                        </div>
                    </div>
                    <div class="info-box bg-blue">
                        <span class="info-box-icon"><i class="fa fa-lightbulb-o"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">BLUE</span>
                            <span class="info-box-number">IP: {{sensorIp}}</span>
                            <switch class="pull-right" [status]="blueStatus" [onText]="'ON'" [offText]="'OFF'" [onColor]="'yellow'" [offColor]="'gray'" [size]="'small'" (statusChange)="toggleBlueLed()"></switch>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="box box-primary box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">CoAP Control</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <ul class="products-list product-list-in-box">
                        <li class="item">
                            <div class="product-img btn btn-info btn-lg" (click)="toggleGPIO()">
                                <i class="fa fa-lightbulb-o"></i>
                            </div>
                            <div class="product-info">
                                <div class="product-title">GPIO toggle LED
                                    <span class="label label-info pull-right">PA4</span>
                                </div>
                                <span class="product-description">IP: {{sensorIp}}</span>
                            </div>
                        </li>
                        <li class="item">
                            <div class="product-img btn btn-danger btn-lg">
                                <i class="fa fa-genderless"></i>
                            </div>
                            <div class="product-info">
                                <div class="product-title">Motion sensor
                                    <span class="label label-danger pull-right">Observe</span>
                                </div>
                                <span class="product-description">IP: {{sensorIp}}</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
