<div class="row">
    <div class="col-md-4">
        <div class="box box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">Search IPv6</h3>
            </div>
            <div class="box-body">
                <div class="input-group">
                    <ng2-completer [(ngModel)]="searchIp" [datasource]="dataService" [minSearchLength]="0" class="completer-input" placeholder="input ip of border router"></ng2-completer>
                    <div class="input-group-btn">
                        <button [disabled]="!searchIp" (click)="searchIP()" type="button" class="btn btn-primary btn-flat">Search</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="box box-solid box-info" *ngIf="sensorIps.length > 0">
            <div class="box-header with-border">
                <h3 class="box-title">Result IP</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="external-event bg-green" *ngFor="let ip of sensorIps" (click)="selectIp(ip)">{{ip}}</div>
            </div>
            <div class="overlay" *ngIf="searchProcess">
                <i class="fa fa-refresh fa-spin"></i>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="col-md-7">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Leds control</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <!-- Info Boxes Style 2 -->
                    <div class="info-box bg-yellow">
                        <span class="info-box-icon"><i class="fa fa-newspaper-o"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">OBSERVE BUTTON {{observeButton}}</span>
                            <br>
                            <span class="info-box-number">
                              <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-sm btn-primary active"> 
                                  <input type="radio" name="options" value="1" [(ngModel)]='observeButton'> Tracking 
                                </label>
                                <label class="btn btn-sm btn-primary">
                                  <input type="radio" name="options" value="2" [(ngModel)]='observeButton'> Cancel
                                </label>
                              </div>
                            </span>
                        </div>
                    </div>
                    <div class="info-box bg-red" *ngIf="sensorIp != null">
                        <span class="info-box-icon"><i class="fa fa-lightbulb-o"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">LED RED</span>
                            <span class="info-box-number">IP: {{sensorIp}}</span>
                            <switch [status]="redStatus" [onText]="'ON'" [offText]="'OFF'" [onColor]="'green'" [offColor]="'red'" (statusChange)="toggleRedLed()"></switch>
                        </div>
                    </div>
                    <div class="info-box bg-green" *ngIf="sensorIp != null">
                        <span class="info-box-icon"><i class="fa fa-lightbulb-o"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Led green</span>
                            <span class="info-box-number">IP: {{sensorIp}}</span>
                            <switch [status]="greenStatus" [onText]="'ON'" [offText]="'OFF'" [onColor]="'green'" [offColor]="'red'" (statusChange)="toggleGreenLed()"></switch>
                        </div>
                    </div>
                    <div class="info-box bg-aqua" *ngIf="sensorIp != null">
                        <span class="info-box-icon"><i class="fa fa-lightbulb-o"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">LED BLUE</span>
                            <span class="info-box-number">IP: {{sensorIp}}</span>
                            <switch [status]="blueStatus" [onText]="'ON'" [offText]="'OFF'" [onColor]="'green'" [offColor]="'red'" (statusChange)="toggleBlueLed()"></switch>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Lamp control</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <ul class="products-list product-list-in-box">
                        <li class="item">
                            <div class="product-img">
                                <img src="dist/img/default-50x50.gif" alt="Product Image">
                            </div>
                            <div class="product-info">
                                <a href="javascript:void(0)" class="product-title">Samsung TV
                      <span class="label label-warning pull-right">$1800</span></a>
                                <span class="product-description">
                          Samsung 32" 1080p 60Hz LED Smart HDTV.
                        </span>
                            </div>
                        </li>
                        <!-- /.item -->
                        <li class="item">
                            <div class="product-img">
                                <img src="dist/img/default-50x50.gif" alt="Product Image">
                            </div>
                            <div class="product-info">
                                <a href="javascript:void(0)" class="product-title">Bicycle
                      <span class="label label-info pull-right">$700</span></a>
                                <span class="product-description">
                          26" Mongoose Dolomite Men's 7-speed, Navy Blue.
                        </span>
                            </div>
                        </li>
                        <!-- /.item -->
                        <li class="item">
                            <div class="product-img">
                                <img src="dist/img/default-50x50.gif" alt="Product Image">
                            </div>
                            <div class="product-info">
                                <a href="javascript:void(0)" class="product-title">Xbox One <span class="label label-danger pull-right">$350</span></a>
                                <span class="product-description">
                          Xbox One Console Bundle with Halo Master Chief Collection.
                        </span>
                            </div>
                        </li>
                        <!-- /.item -->
                        <li class="item">
                            <div class="product-img">
                                <img src="dist/img/default-50x50.gif" alt="Product Image">
                            </div>
                            <div class="product-info">
                                <a href="javascript:void(0)" class="product-title">PlayStation 4
                      <span class="label label-success pull-right">$399</span></a>
                                <span class="product-description">
                          PlayStation 4 500GB Console (PS4)
                        </span>
                            </div>
                        </li>
                        <!-- /.item -->
                    </ul>
                </div>
                <!-- /.box-body -->
                <div class="box-footer text-center">
                    <a href="javascript:void(0)" class="uppercase">View All Products</a>
                </div>
                <!-- /.box-footer -->
            </div>
        </div>
    </div>
</div>
