<section class="col-md-4" *ngIf="radarChartData.length > 0">
    <div class="box box-solid box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">RE-Mote power</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <div class="box-body">
            <div style="display: block" *ngIf="radarChartData.length > 0">
                <canvas baseChart [datasets]="radarChartData" [labels]="radarChartLabels" [chartType]="radarChartType"></canvas>
            </div>
        </div>
    </div>
</section>
