<section class="col-lg-6" *ngIf="lineChartDataTemp.length > 0">
    <div class="box box-danger direct-chat direct-chat-danger">
        <div class="box-header with-border">
            <h3 class="box-title">Temperature</h3>
            <div class="box-tools pull-right">
                <span class="label label-danger">Total {{datas.length}} records</span>
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="Detail" data-widget="chat-pane-toggle">
                    <i class="fa fa-comments"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <div class="box-body">
            <div style="display: block;">
                <canvas *ngIf="lineChartDataTemp.length > 0" baseChart height="150px;" [datasets]="lineChartDataTemp" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColorTemp" [legend]="lineChartLegend" [chartType]="lineChartType"></canvas>
            </div>
            <div class="direct-chat-contacts">
                <ul class="contacts-list">
                    <li *ngFor="let item of datas">
                        <div class="contacts-list-info">
                            <span class="contacts-list-name" *ngIf="item?.sensor_temperature">
                              {{item.sensor_temperature / 100}} °C
                              <small class="contacts-list-date pull-right">{{item.time | date: 'hh:mm:ss'}}</small>
                            </span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="box-footer">
            <div class="row">
                <div class="col-sm-6 col-xs-6">
                    <div class="description-block border-right">
                        <span class="description-percentage text-yellow">Last</span>
                        <h5 class="description-header">{{datas[0].sensor_temperature / 1000}} °C</h5>
                    </div>
                    <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-6 col-xs-6">
                    <div class="description-block border-right">
                        <span class="description-percentage text-green">First</span>
                        <h5 class="description-header">{{datas[datas.length - 1].sensor_temperature / 1000}} °C</h5>
                    </div>
                    <!-- /.description-block -->
                </div>
            </div>
            <!-- /.row -->
        </div>
    </div>
</section>
<section class="col-lg-6" *ngIf="lineChartDataHumi.length > 0">
    <div class="box box-primary direct-chat direct-chat-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Humidity</h3>
            <div class="box-tools pull-right">
                <span class="label label-info">Total {{datas.length}} records</span>
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="Detail" data-widget="chat-pane-toggle">
                    <i class="fa fa-comments"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <div class="box-body">
            <div style="display: block;">
                <canvas *ngIf="lineChartDataHumi.length > 0" baseChart height="150px;" [datasets]="lineChartDataHumi" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColorHumi" [legend]="lineChartLegend" [chartType]="lineChartType"></canvas>
            </div>
            <div class="direct-chat-contacts">
                <ul class="contacts-list">
                    <li *ngFor="let item of datas">
                        <div class="contacts-list-info">
                            <span class="contacts-list-name" *ngIf="item?.sensor_humidity">
                              {{item.sensor_humidity / 1000}} %
                              <small class="contacts-list-date pull-right">{{item.time | date: 'hh:mm:ss'}}</small>
                            </span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="box-footer">
            <div class="row">
                <div class="col-sm-6 col-xs-6">
                    <div class="description-block border-right">
                        <span class="description-percentage text-yellow">Last</span>
                        <h5 class="description-header">{{datas[0].sensor_humidity / 1000}} %</h5>
                    </div>
                    <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-6 col-xs-6">
                    <div class="description-block border-right">
                        <span class="description-percentage text-green">First</span>
                        <h5 class="description-header">{{datas[datas.length - 1].sensor_humidity / 1000}} %</h5>
                    </div>
                    <!-- /.description-block -->
                </div>
            </div>
            <!-- /.row -->
        </div>
    </div>
</section>
